*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a{
    text-decoration: none;
    color: gray;

}

.container{
    width: 70%;
    margin: 0 auto;
}
/*header*/
.logo-nav{
    width: 100%;
    margin-bottom: 20px;
}

#logo{
    width: auto;
    height: 70px;
    margin-bottom: 20px;
}

nav ul{
    list-style-type: none;
}
nav .button-nav{
    display: inline-block;
    margin-right: 15px;
    color: gray;
}

/*prima parte del main*/

.first-box{
    width: 100%;
    height: 500px;
    background-color: rgb(240, 216, 4);
    margin-bottom: 20px;
}

.second-box{
    width: 100%;
    background-color: rgb(10, 146, 146);
    
    padding: 10px 0;
}
.clearfix::after{
    display: table;
    clear: both;
    content: "";
}


.header-second{
    width: 100%;
    height: 80px;
    margin-bottom: px;
    background-color: rgb(53, 97, 240);
}

.box{
    background-color: rgb(53,97,240);
    height: 400px;
    float: left;
}

.center-second{
    width: calc(50% - 40px);
    margin: 0 20px;
}

.left-second{
    width: 25%;
}

.right-second{
    width: 25%;
}
/*footer*/
.bottom{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: rgb(209, 102, 241);
}