/*general*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

li a{
    text-decoration: none;
    color: gray;
}

.container{
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}

.opacità{
    width: auto;
    height: auto;
    min-width: 100%;
    max-height: 530px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: rgb(49, 35, 49);
}

.opacity-main{
    width: 100%;
    height: auto;
    min-width: 100%;
    max-height: 200px;
    background-color: rgb(49, 35, 49);
    border-radius: 15px;
}

.clearfix::after{
    display: table;
    clear: both;
    content:'';
}

/*logo e nav buttons*/
.logo-nav{
    width: 100%;
    margin-bottom: 20px;
}

#logo{
    width: auto;
    height: 70px;
    margin-bottom: 20px;
    cursor: pointer;
}

nav ul{
    list-style-type: none;
}
nav .button-nav{
    display: inline-block;
    margin-right: 15px;
    color: gray;
}

/*prima parte del main*/
.first-box{
    min-width: 100%;
    height: 530px;
    margin-bottom: 30px;
}

.img-banner{
    width: auto;
    height: auto;
    min-width: 100%;
    max-height: 530px;
    overflow: hidden;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.8;
    cursor: pointer;
}

.banner-text{
    padding-left: 30px;
    width: 50%;
    position: relative;
    bottom: 200px;
    color: white;
}

.banner-text h2{
    font-weight: normal;

}
    
 /* header seconda parte del main*/
.header-second{
    width: 100%;  
    margin-bottom: 20px; 
}

.header-second h5{
    font-weight: lighter;
    color: grey;
}
/*colonne seconda parte main*/

.second-box{
    width: 100%;
    padding: 10px 0;
}

.opacity-main > img{
    width: 100%;
    height: auto;
    min-width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.8;
    cursor: pointer;
}


.left-side{
    width: 25%;   
}

.right-side{
    width: 25%;   
}

.col{
    border-radius: 15px;
    display: inline-block;
    float: left;  
}

.center-side{
    width: 50%;
    padding: 0 10px;    
}

.second-box h3{   
    color: rgb(66, 66, 66);
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.second-box p{
    font-weight: normal;
    color: gray;
}

/*footer*/
.bottom{
    width: 100%;
    text-align: center;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-text::after{
    content: "\2665";
    color: red;
    font-weight: bold;
}