*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: gray;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}
/*logo e nav buttons*/
.logo-nav{
    width: 100%;
    margin-bottom: 20px;
}

#logo{
    width: auto;
    height: 70px;
    margin-bottom: 20px;
}

nav ul{
    list-style-type: none;
}
nav .button-nav{
    display: inline-block;
    margin-right: 15px;
    color: gray;
}

/*prima parte del main*/
.first-box{
    min-width: 100%;
    height: 530px;
    margin-bottom: 30px;
}

.first-banner{
    width: auto;
    height: auto;
    min-width: 100%;
    max-height: 530px;
    overflow: hidden;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 15px;
}

.banner-text{
    padding-left: 30px;
    width: 50%;
    position: relative;
    bottom: 200px;
    color: white;
}

.first-box h2{
}

.first-box p{      
}


    
 /* header seconda parte del main*/
.header-second{
    width: 100%;  
    margin-bottom: 20px; 
}

.header-second h5{
    font-weight: lighter;
    color: grey;
}
/*colonne seconda parte main*/
.second-box{
    width: 100%;
    padding: 10px 0;

}

.col.side img{
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}
.col{
    
    float: left;
}

.center-side{
    width: calc(50% - 40px);
    margin: 0 20px;
}

.left-side.right-side{
    width: 25%;
}


}
/*footer*/
.bottom{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: rgb(209, 102, 241);
}